<div ng-controller="contactController as cCtrl">
	<div layout="row">
		<md-button class="md-raised md-primary " ng-href="{{cCtrl.contact.linkedin}}" flex>
			<md-icon md-svg-icon="linkedin" style="margin-right: 2%"></md-icon>
			Contact me on Linkedin
		</md-button>
		<md-button class="md-raised md-primary" href="www.google.com" flex>
			<md-icon md-svg-icon="file-pdf" style="margin-right: 2%"></md-icon>
			Download my CV
		</md-button>
	</div>
	<div layout="row">
		<md-button class="md-raised md-primary" ng-click="cCtrl.copyToClipboard('email')" flex>
			<md-icon md-svg-icon="email" style="margin-right: 2%"></md-icon>
			Email me
		</md-button>
		<md-button class="md-raised md-primary" ng-click="cCtrl.copyToClipboard('phone')" flex>
			<md-icon md-svg-icon="cellphone" style="margin-right: 2%"></md-icon>
			Call me
		</md-button>
	</div>
</div>
