<div layout="row" ng-controller="contactController as cCtrl">
	<div flex="20" >
		<img id="profilePicture" src="assets/images/me.jpg" />
		<div layout-gt-sm="row" layout="column" layout-align="center start" style="max-width: 80%; background-color: #C0C0C0">
			<md-button aria-label="email" class="md-icon-button" ng-click="cCtrl.buttonClicked('email')">
				<md-icon md-svg-icon="email"></md-icon>
			</md-button>
			<md-button aria-label="address" class="md-icon-button" ng-click="cCtrl.buttonClicked('address')">
				<md-icon md-svg-icon="home"></md-icon>
			</md-button>
			<md-button aria-label="phone" class="md-icon-button" ng-click="cCtrl.buttonClicked('phone')">
				<md-icon md-svg-icon="cellphone"></md-icon>
			</md-button>
		</div>
		<div layout-gt-sm="row" layout="column" layout-align="center start" style="max-width: 80%; background-color: #C0C0C0">
			<md-button aria-label="linkedin" class="md-icon-button" href="http://www.linkedin.com" target="_blank">
				<md-icon md-svg-icon="linkedin"></md-icon>
			</md-button>
			<md-button aria-label="github" class="md-icon-button" href="http://www.github.com" target="_blank">
				<md-icon md-svg-icon="github-box"></md-icon>
			</md-button>
		</div>
	</div>
	<div flex="80">
		<p>
			My name is Hadrien Luttiau, I recently graduated from the engineering school of Polytech Nice-Sophia in computer science with a speciality in connected devices and Internet of Things.
			I am very interested in the microsoft technologies and developed several project with it in WPF, ASP.NET mvc and C#.
			I am currently working a lot with web technologies, since we created some project at school and I decided to continue some as personal projects.
			I realised two internship, in France for two months and in Japan for six months.
			There I learned a lot of different aspect of programing and how to work with different team and different cultures.
		</p>
		<p>
			Please find on this web site my portfolio which details more precisely the different project I worked on and my experiences.
			I you wand to download a .pdf version of my cv or contact me please see the contact section.
		</p>

	</div>

</div>